.main-page-container{
    width:65vw;
    margin:0 auto;
}
.map-page-main-content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 36px;
    border-radius: 10px;
    gap: 16px;
}

@media screen and (max-width: 480px) {
    .main-page-container{
        width: 100vw;
    }
    .map-page-main-content{
        gap:16px;
        padding:24px;
    }
}
